<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" href="/style.css">
    <title>
        Homework 4 – <%= title %>
    </title>
</head>
<body>

<%- include('./partials/navbar.ejs') %>

<div class="main-flex-container">
    <% if(typeof posts == 'object' && posts.length > 0){ %>

        <% posts.forEach(post => { %>
            <div class="flex-items">
                <div class="flex-items-header">
                    <div class="flex-items-avatar">
                        <% if(post.dp){ %>
                            <img src="<%= post.dp %>" alt="User icon" width="32" height="32"/>
                        <% } else{ %>
                            <img src="user.png" alt="User icon" width="32" height="32"/>
                        <% } %>
                        <p><%= post.name %></p>
                    </div>
                    <p><%= post.date %></p>
                </div>
                <div class="flex-items-image">
                    <% if(post.image){ %>
                        <img src="<%= post.image %>" alt="User uploaded image" width="100%" height="auto"/>
                    <% } else{ %>
                    <% } %>
                </div>
                <div class="flex-items-content">
                    <p><%= post.body %></p>
                    <div class="flex-items-avatar">
                        <button>&#128077;</button>
                        <p class="w-40"><%= post.likes %></p>
                    </div>

                </div>
            </div>
        <% }) %>

    <% } else{ %>
        <h2>You did not post anything</h2>
    <% } %>
</div>

<%- include('./partials/footer.ejs') %>
</body>
</html>
